/*** COMMENTS/TESTIMONIAL/GUESTBOOK STYLE ***/
#comments, #comments-title{ padding-top:15px; }
ol.commentlist { width: 100%; padding: 20px; list-style: none; margin-bottom: 0; border: 3px dashed #838586; border-radius: 20px; }
ol.commentlist footer { padding: 0; text-align: left; background: none; box-shadow: none;}
ol.commentlist footer time { display: none; }
/* ol.commentlist li { border: 1px dashed #7dad0e; padding: 15px; margin-bottom: 10px; } */
ol.commentlist li { position: relative;padding: 10px;border-bottom: 1px solid #d1d1d1; }

.commentlist li .attachmentFile {float: left; margin: 0 20px 10px 0;}
.commentlist li:nth-child(2n) .attachmentFile {float: right; margin: 0 0 10px 20px;}
.commentlist li .comment-author, .commentlist li .comment-title, .commentlist li .comment-company {text-align: right;}
.commentlist li .comment-author {font-weight: bold;}
.commentlist li .comment-title{font-style:italic;}
.commentlist li .comment-company{color: #5bd1ba;font-weight: 500;}
.commentlist li:nth-child(2n) .comment-author , .commentlist li:nth-child(2n) .comment-title, .commentlist li:nth-child(2n) .comment-company {text-align: left;}
ol.commentlist li .comment-body p { text-align: right; }
ol.commentlist li:nth-child(2n) .comment-body p { text-align: left; }
.commentlist li:last-child{border-bottom:none;}

.attachmentFile p { width: 100px; height: 100px; border-radius: 100%; background-size: cover !important; background-position: 50% !important; box-shadow: 0px 4px 4px #999; }

ol.commentlist ul { border-top:1px dashed #B75858; width:560px; margin-top:15px; list-style:none; }
ol.commentlist ul li { border-bottom:1px dashed #B75858; }
.comment p{ padding: 5px 0; line-height:inherit; margin: 0 !important; }
.fn { text-transform: capitalize; }
.commentlist li:nth-child(odd) .comment-meta.commentmetadata { text-align: right; }
/* #respond { width: 100%; border: 1px solid #7DAD0E; background: rgba(236,255,187,.3); padding: 10px 20px; margin-top: 25px; }
#respond p { margin: 10px 0; text-align: left;}
#commentform input, #commentform textarea { width: 100%; font-family: inherit;}
#commentform .form-submit input[type=submit] { background: #9dcc27; border: none; color: #FFF; font-weight: bold; padding: 7px; cursor: pointer; }
#commentform .form-submit input:hover {opacity: 0.8;} */

#respond {width:auto; max-width:100%; padding:20px; margin-top:10px; background: rgba(255,255,255,.6); border:1px solid #f5349e; border-radius: 10px;}
.comment-respond p { padding: 10px 0; margin: 0 !important; }
.comment-form textarea{ min-height: 50px; }
.comment-form input, .comment-form textarea { width:100%; padding: 10px; border: 2px solid #bbb;border-radius: 5px; -webkit-border-radius:0; font-size: inherit; font-family: inherit; font-weight: inherit;}
.comment-form input:focus, .comment-form textarea:focus { border: 2px solid #666; }
.comment-form input[type="submit"] { width:100%; background:#f5349e; border:none; color:#fff; font-weight:bold; padding:10px 12px; cursor:pointer; -webkit-border-radius:0;}
.comment-form input[type="submit"]:hover {opacity: 0.8;}

.comment-form-author { display: inline-block; width: 49.8%; }
.comment-form-email { display: inline-block; width: 49.8%;  }

h3#comments, #comments-title, .reply, .avatar, #reply-title, .comment-form-cookies-consent, .hideThis {display: none;}
.fn {text-transform: capitalize; }
.required{color: red;}

input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label { top: -34px; bottom: 0; left: 19px; font-size: 14px; opacity: 1; position: relative; }
.inputText { font-size: 14px; width: 200px; height: 35px; }
.floating-label { position: absolute; pointer-events: none; left: 20px; top: 18px; transition: 0.2s ease all; }
/***  WordPress Comments Fields ***/
#respond .nm-wrap-comments input[type="radio"] {display: inline-block;width: auto;}
#respond .nm-wrap-comments .form-control {border-radius: 0;padding: 5px;border: 1px solid #bbb;height: auto;}
#respond .nm-wrap-comments label {font: inherit;}

#wait_approval { position: fixed; width: 100%; height: 100%; top: 0; margin: 0 auto; left: 0; right: 0; z-index: 999; background: rgb(0,0,0,.4); }
#wait_approval p { position: relative; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; width: 500px; height: 300px; text-align: center; font-size: 30px; line-height: 100%; font-weight: bold; font-family: Avenir Heavy; background: rgb(0,0,0,.7); color: #fff; border-radius: 20px; max-width: 95%; padding: 10px; }
#wait_approval p span { transform: translateY(-50%); display: block; position: relative; top: 70%; font-family: Muli; }
#wait_approval p span::before { content: url(../images/success-icon.png); position: absolute; left: 0; right: 0; top: -150px; }

@media only screen and (max-width: 1055px) {
  .comment-form-author { width: 100%; }
  .comment-form-email { width: 100%;  }
}

@media only screen and (max-width: 400px) {
  .commentlist li .attachmentFile {float: none !important; margin: 0 auto;}
  .commentlist li .attachmentFile p {margin: 0 auto; text-align: center;}
  .comment-body p, .comment-author.vcard, .comment-title { text-align: center !important; }
  .commentmetadata a {display: block;margin: 0 auto 10px;text-align: center;font-size: 13px;}
  .commentmetadata::after {position: static;content: '';display: block;width: 100%;height: 1px;background: #11b30c;-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity: 0.3;margin-bottom: 12px;}
  .g-recaptcha {transform: scale(0.75) !important;-webkit-transform: scale(0.75);}
}
